name: Build Linux-64 Static Libs
on:
  workflow_dispatch:
    inputs:
      archtune-flags:
        description: Arch/Tune Flags
        required: false
        default: "generic"
      publish:
        description: "Publish to release branches"
        type: boolean
        default: true
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    name: build ubuntu-${{ matrix.ubuntu_version }}${{ matrix.arch_suffix }}
    runs-on: ubuntu-24.04${{ matrix.arch_suffix }}
    strategy:
      fail-fast: true
      matrix:
        ubuntu_version: ["20.04", "18.04"]
        arch_suffix: ["", "-arm"]
    steps:
      - uses: actions/checkout@v5
      - name: Create builder
        run: docker build --build-arg UBUNTU_VERSION=${{ matrix.ubuntu_version }} -f _scripts/Dockerfile -t builder .
      - name: Compile libraries
        run: |
          mkdir build
          docker run -i --rm \
            -v /etc/passwd:/etc/passwd:ro \
            -v /etc/group:/etc/group:ro \
            --user="$(id -u):$(id -g)" \
            -v $(pwd)/build:/build:rw \
            builder /scripts/make_static_libs.sh /build "${{ github.event.inputs.archtune-flags }}"
      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.ubuntu_version }}${{ matrix.arch_suffix }}
          path: build
          retention-days: 7
  publish:
    name: publish ${{ matrix.ubuntu_version }}${{ matrix.arch_suffix }} branch
    needs: build
    if: github.event_name == 'workflow_dispatch' && inputs.publish == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        ubuntu_version: ["20.04", "18.04"]
        arch_suffix: ["", "-arm"]
    steps:
      - name: Checkout target branch
        uses: actions/checkout@v5
        with:
          ref: ${{ matrix.ubuntu_version }}${{ matrix.arch_suffix }}
      - name: Clean up old versions
        run: rm -rf ./*
      - name: Fetch new build
        uses: actions/download-artifact@v5
        with:
          name: build-${{ matrix.ubuntu_version }}${{ matrix.arch_suffix }}
      - name: Commit and push
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Automatic build from ${{ github.sha }}
